<h1>Chapter 6 : Template-Driven and Reactive Formes</h1>

<h2 style="background: red;">Open the console to see the debug
	messages</h2>

<div
	style="float: right; width: 700px; height: 500px; border: 1px solid blue">
	<router-outlet></router-outlet>
</div>

<h4>
	<a [routerLink]="['/templateDriven1']">
	   Template Driven 1 - use NgModel, NgModelGroup and NgForm directives
	</a>
</h4>
<h4>
    <a [routerLink]="['/templateDriven2']">Template Driven 2 - Directives for validation</a>
</h4>
<h4>
    <a [routerLink]="['/templateDriven3']">Template Driven 3 - Directives and field's status and validity</a>
</h4>
<h4>
	<a [routerLink]="['/reactiveForm1']">Reactive Form 1 - Add emails dynamically</a>
</h4>
<h4>
    <a [routerLink]="['/reactiveForm2']">Reactive Form 2 - Using formGroupName</a>
</h4>
<h4>
    <a [routerLink]="['/reactiveForm3']">Reactive Form 3 - Using FormBuilder</a>
</h4>
<h4>
    <a [routerLink]="['/reactiveForm4']">Reactive Form 4 - Form validation</a>
</h4>
<h4>
    <a [routerLink]="['/reactiveForm5']">Reactive Form 5 - Custom error messages</a>
</h4>
<h4>
    <a [routerLink]="['/reactiveForm6']">Reactive Form 6 - Asynchronous validators</a>
</h4>
<h4>
    <a [routerLink]="['/reactiveForm7']">Reactive Form 7 - FormModel and FormGroup validations</a>
</h4>
<h4>
    <a [routerLink]="['/reactiveForm8']">Reactive Form 8 - Custom Input component</a>
</h4>
<h4>
    <a [routerLink]="['/reactiveForm9']">Reactive Form 9 - FormModel, FormGroup and FormArray</a>
</h4>



